/* You can add global styles to this file, and also import other style files */
@import url("https://fonts.googleapis.com/css?family=Oswald");

h1 {
  color: #369;
  /* font-family: "Oswald", Helvetica, sans-serif; */
  font-family: inherit;
  font-size: 250%;
}
h2,
h3 {
  color: #444;
  /* font-family: Arial, Helvetica, sans-serif; */
  font-family: inherit;
  font-weight: lighter;
}
body {
  margin: 2em;
}

html {
  font-family: "Oswald", sans-serif;
}

body,
input[type="text"],
button {
  color: #888;
  font-family: inherit;
}
/* everywhere else */
* {
  /* font-family: Arial, Helvetica, sans-serif; */
  font-family: inherit;
}
